<%- include('partials/header') -%>
    
    <main class="container col-xxl-10 px-4 py-5">
        <div class="d-lg-flex flex-md-row-reverse align-items-top justify-content-between g-5 py-5">
          <img src="/imgs/undraw_diet_ghvw.svg" class="d-none d-sm-block img-fluid w-md-50" alt="Bootstrap Themes" loading="lazy">
          <div class="">
            <h1 class="display-5 fw-bold lh-1 mb-3">Helping you save money each time you buy groceries</h1>
            <p class="lead">Find prices of items in markets near you - in real time!</p>
            <%if(user){ %>
            <a href="/feed" class="btn btn-danger">Return to Feed</a>
            <% } else { %>
              <a href="/login" type="button" class="btn btn-outline-secondary orange-500 btn-lg px-4 me-md-2">Login</a>
              <a href="/signup" type="button" class="btn btn-danger btn-lg px-4">Signup</a>
            <% } %>
          </div>
        </div>
    </main>

    <!-- <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div> -->
    

<%- include('partials/footer') -%>